.main{max-width:700px;}

#honbun{
    font:14px 'STHeitiJ-light','Hiragino Mincho Pro','Hiragino Mincho ProN','HiraMinProN-W3','Yu Mincho','serif';
letter-spacing: 1.2px;
line-height: 1.8em;
height:80%;
    overflow: auto;
    width: 100%;
    float: left;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
    /writing-mode: tb-rl;
    _writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    -moz-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
}
.tc{
    text-combine-upright: all;
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;}
.to{text-orientation: upright; -webkit-text-orientation: upright;}
